
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: 'Fredoka', sans-serif;  
}

.container {
    width: 80%;
    max-width: 1100px;
}

.clearfix: :after {
    content: "";
    display: table;
    clear: both;
}

/* STYLES */
h1 {
    color: #e53170;
    margin-top: 1.5rem auto;
}

h3 {
    color: white;
}

.email-adress {
    color: #4fb6e0;
}

img {
    height: 100px;
    float: left;
    margin-right: 1rem;
}

/* MAIN */

/* Title section */
.title-section {
    text-align: center;
    
}

/* End Title section */

/* Team section */
.team-card { 
    border: solid blue 2px;
    width:calc(100% / 3);
    float: left;
    background-color: #0f0e17;
    color: white;
    line-height: 1.5rem;
}

/* End Team section */



/* END MAIN */